<h2 class="screen-align">Createtickets</h2>
<form id="template-idis" class="form">
    <div id="template-izff" class="form-group">
        <label id="template-iq7l" class="label">Name</label>
        <input placeholder="Type here your name" id="template-igdf"
        class="input form-control" />
    </div>
    <div id="template-iae3" class="form-group">
        <label id="template-ixzg" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-ifav"
        class="input form-control" />
    </div>
    <div id="template-im08b" class="form-group">
        <button type="submit" id="template-iwu5v" class="button btn btn-primary">Send</button>
    </div>
</form>